@use '../components/mixin.scss' as *;
@use '../custome.scss' as *;
.rows {
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  .card {
    margin: 0.5rem;
    width: 20rem;
    height: auto;
    padding: 20px;
    @include media-breakpoint-up(md) {
      width: 40rem;
    }
    i {
      font-size: 4rem;
      color: rgb(0, 145, 255);
      &:hover {
        color: $gray-600;
      }
    }
  }
}
