@use '../custome.scss' as *;

.heading-line::before{
    content: "";
    width: 15rem;
    height: 0.3rem;
    display: block;
    margin: 0 auto;
    background-color: $pink;
}
.heading-line::after{
    content: "";
    width: 2rem;
    padding-top: 0.5rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: $pink;
}